.masonryGrid {
  column-count: 1;
  column-gap: 2rem;
  width: 100%;
}

@media (min-width: 768px) {
  .masonryGrid {
    column-count: 2;
  }
}

@media (min-width: 1024px) {
  .masonryGrid {
    column-count: 3;
  }
}

.masonryItem {
  break-inside: avoid;
  margin-bottom: 2rem;
  display: inline-block;
  width: 100%;
} 